
.colored
{
    background-color: rgba(102, 75, 255, 0.911);
}

.navbar-brand
{
    font-size: 35px;
    font-weight: bold;
    padding-left: 75px;
    font-family: "ubuntu";
}

.topbutton
{
    margin-left: 35px;
}

.navtext
{
    font-size: 20px;
    font-weight: bolder;
    
}

.titleheader {
    font-weight: bolder;
    font-size: 50px;
    color: white;
  }

#title
{
    background-color: rgba(102, 75, 255, 0.911);
}

.mainDog {
    margin-top: 43px;
    padding-right: 25px;
    max-width: 320px;
  }

  @media screen and (min-width: 992px) {
    .mainDog {
      transform: rotate(25deg);
      
    }
    #title {
      height: 520px;
      width: 100%;
      overflow: hidden;
    }
    .topbutton{
    margin-left: 130px;
    }
    .titleheader {
        font-weight: bolder;
        font-size: 65px;
        color: white;
        padding-left: 130px;
      }
    .navbar-brand
      {
          font-size: 50px;
          font-weight: bold;
          padding-left: 130px;
      }
  }

.icons
  {
      color: rgba(102, 75, 255, 0.911);
  }

  .small
{
    width: 100px;
    height: 60px;
    border-radius: 50%;
}


.middle
{
    background-color: rgba(102, 75, 255, 0.911);
}

.googleplay
{
    color: white;
    border-color: white;
}

#cta
{
    background-color: rgba(102, 75, 255, 0.911);
    height: 350px;
    padding-top: 65px;
}

.ctatext
{
    font-weight: bolder;
    font-size: 40px;
    color: white;
}

.presspic
{
    max-width: 25%;
    height: auto;
}