.colored
{
    background-color: rgb(80, 51, 209);
}


.bar
{
    text-align: center;
}

.navbar-brand
{
    font-size: 50px;
    font-weight: bold;
    padding-left: 130px;
}

.topbutton
{
    margin-left: 125px;
}

.navtext
{
    font-size: 20px;
    font-weight: bolder;
    
}

.titleheader {
    font-weight: bolder;
    font-size: 70px;
    color: white;
    padding-left: 120px;
  }

#title
{
    background-color: rgb(80, 51, 209);
    height: 520px;
    overflow: hidden;
}

.mainDog {
    margin-top: 30px;
    padding-right: 25px;
    max-width: 330px;
    overflow: hidden;
  }
  
  @media screen and (min-width: 992px) {
    .mainDog {
      transform: rotate(25deg);
    }
    .section1 {
      height: 400px;
      width: 100%;
      overflow: hidden;
    }
  }

.icons
  {
      color: rgb(80, 51, 209);
  }

  .small
{
    width: 100px;
    height: 60px;
    border-radius: 50%;
}


.middle
{
    background-color: rgb(80, 51, 209);
}

.googleplay
{
    color: white;
    border-color: white;
}

#cta
{
    background-color: rgb(80, 51, 209);
}

.ctatext
{
    font-weight: bolder;
    font-size: 60px;
    color: white;
}

.presspic
{
    max-width: 25%;
    height: auto;
}